.App {
}

.App-logo {
  height: 70px;
}

.App-header {
  background-color: #fff;
  height: 90px;
  padding: 10px;
  text-align: center
}

#mid-price-box {
 margin-top: -14px; 
 margin-bottom: 6px;
 margin-right: 1px;
}

.buyPrice {
  color: #208020;
}

.sellPrice {
  color: #900020;
}

#funds-table {
  margin-bottom: 0;
}

#payment-tabs {
  border-bottom: 1px solid #ddd;
}

.tinyHex {
  font-size: 8pt;
  font-family: monospace;
}

.sk-spinner {
  display: inline;
  margin-left: 5px;
}

.line-scale > div {
  height: 10px;
}

.capped-table {
  max-height: 400px;
  overflow: auto;
}

.capped-table-small {
  max-height: 200px;
  overflow: auto;
}